@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-blue: #0B99FF;
  --color-switcher-bg: #F5F5F5;
  --color-active-blue: #293893;
  --color-inactive-gray: #5F5F5F;
  --color-hero-desc: #171F51;
  --color-hero-stat: #0D1230;
  --color-deep-blue: #293893;
  --color-feature-active: #F1570A;
  --color-feature-inactive: #0D1230;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
